/* You can add global styles to this file, and also import other style files */
@import "~monaco-editor/min/vs/editor/editor.main.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

:root {
    --title-color: #3c3c3c;
    --title-menu-icon-color: white;
    --title-menu-icon-background: #c7c7c7;
}
